:root {
    --vh: 0;
}

.wrapper {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.container {
    flex: 1 1 auto;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.title {
    padding-top: calc(var(--vh, 1vh) * 25);
    font-size: calc(var(--vh, 1vh) * 7);
    margin: 0 0 calc(var(--vh, 1vh) * 2) 0;
}

.form {
    display: flex;
    width: 100%;
}

.form__input {
    width: 100%;
    border-bottom: 2px solid #000;
    margin: 0 20px 0 0;
}

.form__button {
    padding: .5rem .85rem;
    background: #ccc;
    font-size: calc(var(--vh, 1vh) * 2.5);
}

.form__select {
    padding: .5em 0;
    margin: 0 0 0 20px;
}

.result {
    white-space: normal;
    margin: 20px 0 0 0;
}

@media (max-width: 767px) {
    .form {
        flex-direction: column;
    }

    .form__input {
        margin: 0 0 0 0;
    }

    .form__button {
        margin: 20px 0 0 0;
    }

    .form__select {
        margin: 20px 0 0 0;
    }
}

/* Reset CSS */
* {
  padding: 0px;
  margin: 0;
  border: 0px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* Reset Scrollbar */

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px;
}

::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
  border-radius: 100px;
}

::-webkit-scrollbar {display:none;}
