<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardinal</key>
	<dict>
		<key>0</key>
		<string>нуль</string>
		<key>1</key>
		<string>один</string>
		<key>10</key>
		<string>десять</string>
		<key>100</key>
		<string>сто</string>
		<key>11</key>
		<string>одинадцять</string>
		<key>12</key>
		<string>дванадцять</string>
		<key>13</key>
		<string>тринадцять</string>
		<key>14</key>
		<string>чотирнадцять</string>
		<key>15</key>
		<string>п'ятнадцять</string>
		<key>16</key>
		<string>шістнадцять</string>
		<key>17</key>
		<string>сімнадцять</string>
		<key>18</key>
		<string>вісімнадцять</string>
		<key>19</key>
		<string>дев'ятнадцять</string>
		<key>2</key>
		<string>два</string>
		<key>20</key>
		<string>двадцять</string>
		<key>200</key>
		<string>двісті</string>
		<key>3</key>
		<string>три</string>
		<key>30</key>
		<string>тридцять</string>
		<key>300</key>
		<string>триста</string>
		<key>4</key>
		<string>чотири</string>
		<key>40</key>
		<string>сорок</string>
		<key>400</key>
		<string>чотириста</string>
		<key>5</key>
		<string>п'ять</string>
		<key>50</key>
		<string>п'ятдесят</string>
		<key>500</key>
		<string>п'ятсот</string>
		<key>6</key>
		<string>шість</string>
		<key>60</key>
		<string>шістдесят</string>
		<key>600</key>
		<string>шістсот</string>
		<key>7</key>
		<string>сім</string>
		<key>70</key>
		<string>сімдесят</string>
		<key>700</key>
		<string>сімсот</string>
		<key>8</key>
		<string>вісім</string>
		<key>80</key>
		<string>вісімдесят</string>
		<key>800</key>
		<string>вісімсот</string>
		<key>9</key>
		<string>дев'ять</string>
		<key>90</key>
		<string>дев'яносто</string>
		<key>900</key>
		<string>дев'ятсот</string>
	</dict>
	<key>cardinalLargeLong</key>
	<dict>
		<key>1000</key>
		<string>тисяча</string>
		<key>1000000</key>
		<string>мільйон</string>
		<key>1000000000</key>
		<string>мільярд</string>
		<key>1000000000000</key>
		<string>більйон</string>
	</dict>
	<key>cardinalLargeShort</key>
	<dict>
		<key>1000</key>
		<string>тисяча</string>
		<key>1000000</key>
		<string>мільйон</string>
		<key>1000000000</key>
		<string>більйон</string>
		<key>1000000000000</key>
		<string>трильйон</string>
	</dict>
	<key>exceptions</key>
	<dict>
		<key>genitiveForm</key>
		<dict>
			<key>1</key>
			<string>одно</string>
			<key>10</key>
			<string>десяти</string>
			<key>100</key>
			<string>сто</string>
			<key>11</key>
			<string>одинадцяти</string>
			<key>12</key>
			<string>дванадцяти</string>
			<key>13</key>
			<string>тринадцяти</string>
			<key>14</key>
			<string>чотирнадцяти</string>
			<key>15</key>
			<string>п'ятнадцяти</string>
			<key>16</key>
			<string>шістнадцяти</string>
			<key>17</key>
			<string>сімнадцяти</string>
			<key>18</key>
			<string>вісімнадцяти</string>
			<key>19</key>
			<string>дев'ятнадцяти</string>
			<key>2</key>
			<string>двох</string>
			<key>20</key>
			<string>двадцяти</string>
			<key>200</key>
			<string>двохсот</string>
			<key>3</key>
			<string>трьох</string>
			<key>30</key>
			<string>тридцяти</string>
			<key>300</key>
			<string>трьохсот</string>
			<key>4</key>
			<string>чотирьох</string>
			<key>40</key>
			<string>сорока</string>
			<key>400</key>
			<string>чотириста</string>
			<key>5</key>
			<string>п'яти</string>
			<key>50</key>
			<string>п'ятдесяти</string>
			<key>500</key>
			<string>п'ятисот</string>
			<key>6</key>
			<string>шести</string>
			<key>60</key>
			<string>шістдесяти</string>
			<key>600</key>
			<string>шестисот</string>
			<key>7</key>
			<string>семи</string>
			<key>70</key>
			<string>сімдесяти</string>
			<key>700</key>
			<string>семисот</string>
			<key>8</key>
			<string>восьми</string>
			<key>80</key>
			<string>вісімдесяти</string>
			<key>800</key>
			<string>вісімсот</string>
			<key>9</key>
			<string>дев'яти</string>
			<key>90</key>
			<string>дев'яноста</string>
			<key>900</key>
			<string>дев'ятсот</string>
		</dict>
		<key>ordinalPrefixes</key>
		<dict>
			<key>більйон</key>
			<string>більйонний</string>
			<key>мільйон</key>
			<string>мільйонний</string>
			<key>мільярд</key>
			<string>мільярдний</string>
			<key>тисяч</key>
			<string>тисячний</string>
			<key>трильйон</key>
			<string>трильйонний</string>
		</dict>
		<key>unitsForThousend</key>
		<dict>
			<key>1</key>
			<string>одна</string>
			<key>2</key>
			<string>дві</string>
		</dict>
	</dict>
	<key>localeID</key>
	<string>uk</string>
	<key>ordinal</key>
	<dict>
		<key>0</key>
		<string>нульовий</string>
		<key>1</key>
		<string>перший</string>
		<key>10</key>
		<string>десятий</string>
		<key>100</key>
		<string>сотий</string>
		<key>11</key>
		<string>одинадцятий</string>
		<key>12</key>
		<string>дванадцятий</string>
		<key>13</key>
		<string>тринадцятий</string>
		<key>14</key>
		<string>чотирнадцятий</string>
		<key>15</key>
		<string>п'ятнадцятий</string>
		<key>16</key>
		<string>шістнадцятий</string>
		<key>17</key>
		<string>сімнадцятий</string>
		<key>18</key>
		<string>вісімнадцятий</string>
		<key>19</key>
		<string>дев'ятнадцятий</string>
		<key>2</key>
		<string>другий</string>
		<key>20</key>
		<string>двадцятий</string>
		<key>200</key>
		<string>двохсотий</string>
		<key>3</key>
		<string>третій</string>
		<key>30</key>
		<string>тридцятий</string>
		<key>300</key>
		<string>трьохсотий</string>
		<key>4</key>
		<string>четвертий</string>
		<key>40</key>
		<string>сороковий</string>
		<key>400</key>
		<string>чотирьохсотий</string>
		<key>5</key>
		<string>п'ятий</string>
		<key>50</key>
		<string>п'ятдесятий</string>
		<key>500</key>
		<string>п'ятисотий</string>
		<key>6</key>
		<string>шостий</string>
		<key>60</key>
		<string>шістдесятий</string>
		<key>600</key>
		<string>шістсотий</string>
		<key>7</key>
		<string>сьомий</string>
		<key>70</key>
		<string>сімдесятий</string>
		<key>700</key>
		<string>семісотий</string>
		<key>8</key>
		<string>восьмий</string>
		<key>80</key>
		<string>вісімдесятий</string>
		<key>800</key>
		<string>восьмисотий</string>
		<key>9</key>
		<string>дев'ятий</string>
		<key>90</key>
		<string>дев'яностий</string>
		<key>900</key>
		<string>дев'ятисотий</string>
	</dict>
	<key>ordinalLargeLong</key>
	<dict>
		<key>1000</key>
		<string>тисячний</string>
		<key>1000000</key>
		<string>мільйонний</string>
		<key>1000000000</key>
		<string>мільярдний</string>
		<key>1000000000000</key>
		<string>більйонний</string>
	</dict>
	<key>ordinalLargeShort</key>
	<dict>
		<key>1000</key>
		<string>тисячний</string>
		<key>1000000</key>
		<string>мільйонний</string>
		<key>1000000000</key>
		<string>більйонний</string>
		<key>1000000000000</key>
		<string>трильйонний</string>
	</dict>
	<key>shortScale</key>
	<true/>
</dict>
</plist>
